*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 600px) {
  .questionCard {
    width: 20rem;
  }
}
@media screen and (max-width: 599px){
  .heading{
    font-size: 22px;
  }
  .headingContainer{
    padding-left: 11px;
    width: 320px;
    margin: 0px;
    word-wrap: break-word;
  }
  .css-46bh2p-MuiCardContent-root{
    padding: 6px;
  }
  .questionCard {
    width: 230px;
    font-size: 10px;
    padding: 0;
    margin: 0;
  }
  .questionText{
    font-size: 13px;
    margin-left: 6px;
  }
  .questionOptions{
    font-size: 10px;
    margin-top: 4px;
    margin-left: 0;
    padding: 8px;
  }
  .viewAnswer{
    font-size: 10px;
    padding: 6px;
    margin-top: 6px;
  }
  .button{
    font-size: 8px;
    padding: 3px;
    margin-left: 0;
  }
  .icons{
    size: 5px;
    width: 10px;
    height: 10px;
    padding: 3px;
    margin: 0px;
  }
  .css-1k23hlb-MuiButtonBase-root-MuiButton-root{
    width: 4px;
    size: 1px;
  }
  .css-1k23hlb-MuiButtonBase-root-MuiButton-root{
    min-width: 20px;
  }
  .css-46bh2p-MuiCardContent-root:last-child{
    padding-bottom: 10px;
  }
  .css-59e8vd{
    margin:2px;
  }
}
@media screen and (max-width: 424px) {
  .heading{
    font-size: 22px;
  }
  .headingContainer{
    padding-left: 11px;
    width: 320px;
    margin: 0px;
    word-wrap: break-word;
  }
  .css-46bh2p-MuiCardContent-root{
    padding: 6px;
  }
  .questionCard {
    width: 220px;
    font-size: 10px;
    padding: 0;
    margin: 0; 
    margin-top: 50px;
  }
  .questionText{
    font-size: 13px;
    margin-left: 6px;
  }
  .questionOptions{
    font-size: 10px;
    margin-top: 4px;
    margin-left: 0;
    padding: 8px;
  }
  .viewAnswer{
    font-size: 10px;
    padding: 6px;
    margin-top: 6px;
  }

  .button{
    font-size: 8px;
    padding: 3px;
    margin-left: 0;
  }
  .icons{
    size: 5px;
    width: 10px;
    height: 10px;
    padding: 3px;
    margin: 0px;
  }
  .css-1k23hlb-MuiButtonBase-root-MuiButton-root{
    width: 4px;
    size: 1px;
    min-width: 20px;
  }
  .css-46bh2p-MuiCardContent-root:last-child{
    padding-bottom: 10px;
  }
  .css-59e8vd{
    margin:2px;
  }
} 